<div class="chat">
  <div class="chat-header">
    <div class="chat-group">
      <div class="chat-group-name">
        hogefuga
      </div>
    </div>
    <div class="chat-delete">
      <div class="delete-button">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
  <div class="chat-main">
    <div class="messages">
      <div class="user-date">
        <div class="name">
          Tom
        </div>
        <div class="date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="message-date">
        <div class="text">
          whats?
        </div>
      </div>
      <div class="user-date">
        <div class="name">
          shiv
        </div>
        <div class="date">
          2020/3/31(Wed) 12:47:30
        </div>
      </div>
      <div class="message-date">
        <div class="text">
          whats?
        </div>
      </div>
    </div>
  </div>
  <%= form_with model: [@room, @message], class: "chat-form", local: true do |form| %>
    <div class="form-input">
      <%= form.text_field :content,  placeholder:"type a message", class: "input-text"%>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= form.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= form.submit "送信", class: "submit-button" %>
  <% end %>
</div>
